body{
	background-color: #f8f8f8;
}

.wrap-login{
	padding: 20px;
	padding-bottom: 40px;
	margin-top: 30px;
	background-color: #fff;
	border: solid 1px #d0d0d0;
	-webkit-box-shadow: -5px 4px 17px 0px rgba(0,0,0,0.43);
	-moz-box-shadow: -5px 4px 17px 0px rgba(0,0,0,0.43);
	box-shadow: -5px 4px 17px 0px rgba(0,0,0,0.43);
}

.top-page-text{
	margin-top: 30px;
}