<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if title %}
        <title>Bookmark - {{ title }}</title>
    {% else %}
        <title>Bookmark</title>
    {% endif %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('site.index') }}" style="color: #333;">Bookmark</h1></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" style="color: #333;">What is Bookmark?</a></li></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="sign-in" href="{{ url_for( 'site.login' ) }}" style="color: #333;">Sign In</a></li>
            <li><a id="sign-up" href="{{ url_for( 'site.register' ) }}" style="color: #333;">Sign Up</a></li>  
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    
    {% block content %}
      {% if token %}
        <div class=content>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        <div class="top-page-bookmark">
          <h1>Create a bookmark</h1>
          <p>Insert the requested informations and click on save button</p>
          <form method="POST" action="">
            {{ create_form.csrf_token }}
            <fieldset id="create-form">
                {{ create_form.url.label() }}
                {{ create_form.url() }}
                {{ create_form.body.label() }}
                {{ create_form.body() }}
            </fieldset>
            <div id="form-submit">
              {{ create_form.submit(class="btn btn-primary btn-sm btn-size") }}
            </div>
          </form>
        </div>

        <div class="content">
          <h1 id="table-title">Bookmark list</h1>  
        </div>

        <div class="content">
          <form form method="POST" action="" id="search-form-div">
            {{ search_form.csrf_token }}
            {{ search_form.search.label() }}
            {{ search_form.search(placeholder="search: input a id or description to search") }}
            {{ search_form.submit(class="btn btn-primary btn-sm btn-size") }}
          </form>
        </div>

        <div class="table-responsive content">
          <table class="table table-hover table-bordered table-striped" id="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>URL</th>
                <th>Clicks</th>
                <th>Creat at</th>
                <th>Update at</th>
            </tr>
            </thead>

            <tbody>
              {% if response_get_one %}
                <tr>
                  <th>{{response_get_one["id"]}}</th>
                  <td>{{ response_get_one["body"] }}</td>
                  <td><a href="http://127.0.0.1:5000/{{ response_get_one['short_url'] }}">{{ "127.0.0.1:5000/"+response_get_one["short_url"] }}</a></td>
                  <td>{{ response_get_one["visit"] }}</td>
                  <td>{{ response_get_one["create_at"]}}</td>
                  <td>{{ response_get_one["updated_at"]}}</td>
                </tr>
              {% else %}
                {% for item in response_get_all["data"] %}
                  <tr>
                    <th>{{item["id"]}}</th>
                    <td>{{ item["body"] }}</td>
                    <td><a href="http://127.0.0.1:5000/{{ item['short_url'] }}">{{ "127.0.0.1:5000/"+item["short_url"] }}</a></td>
                    <td>{{ item["visit"] }}</td>
                    <td>{{ item["create_at"]}}</td>
                    <td>{{ item["updated_at"]}}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>

        <div class="content">
          
          <nav aria-label="...">
            <ul class="pager">
              {% if response_get_all %}
                {% if response_get_all["meta"]["has_prev"] and response_get_all["meta"]["has_next"] %}
                  <li><a  href="{{ url_for('site.index', page=(page-1)) }}"><<</a></li>
                  <li><a href="{{ url_for('site.index', page=(page+1)) }}">>></a></li>
                {% elif response_get_all["meta"]["has_prev"] and not response_get_all["meta"]["has_next"] %}
                  <li><a href="{{ url_for('site.index', page=(page-1)) }}"><<</a></li>
                  <li><a href="">>></a></li>
                {% else %}
                  <li><a href=""><<</a></li>
                  <li><a href="{{ url_for('site.index', page=(page+1)) }}">>></a></li>
                {% endif %}
              {% endif %}
              
            </ul>
          </nav>
        </div>
       
      {% else %}
      {% endif %}
    {% endblock %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
